doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", type="text/css" href="/css/index.css")
  body
    h1 Aeyhuiy!
    p teste2
      em teste
    script(src="/js/index.js")